---
import Layout from '@/layouts/default.astro'
import Discord from '@/components/icons/discord.astro'
import { buttonVariants } from '@/components/ui/button'
import { getCollection, getEntry } from 'astro:content'
import { Image } from 'astro:assets'
import { cn } from '@/lib/utils'
import soulsSpeedrunsLogo from '@/images/SoulsSpeedrunsLogo.png'
import scmLogoDark from '@/images/SCM Logo for Discord.png'
import scmLogoLight from '@/images/SCM Logo for Discord_black.png'

const scm = false

const games = await getCollection('games')
const discord = await getEntry('socials', 'discord')
---

<Layout title="SoulsSpeedruns Wiki">
	<main class="container mx-auto mt-16 py-2">
		<div class="px-2 py-8 sm:px-6 lg:px-8">
			<div class="mx-auto max-w-2xl text-center">
				{
					scm && (
						<>
							<Image
								id="scm-logo"
								src={scmLogoDark}
								width={120}
								height={120}
								alt={`SCM Logo`}
								class="mb-3 hidden text-center dark:inline"
							/>

							<Image
								id="scm-logo"
								src={scmLogoLight}
								width={120}
								height={120}
								alt={`SCM Logo`}
								class="mb-3 inline text-center dark:hidden"
							/>

							<h1 class="scroll-m-20 pb-12 pt-2 text-3xl font-extrabold tracking-tight lg:text-3xl">
								Souls Charity Marathon is happening Nov. 30th - Dec. 1st!
								<br />
								Don't miss it over on our{' '}
								<a href="https://www.twitch.tv/soulsspeedruns">
									Twitch channel
								</a>
								. Check out the schedule{' '}
								<a href="https://oengus.io/marathon/scm2024/schedule/main">
									here
								</a>
								.
							</h1>
						</>
					)
				}
				<Image
					id="index-logo"
					src={soulsSpeedrunsLogo}
					width={100}
					height={100}
					alt={`SoulsSpeedruns Logo`}
					class="mb-3 inline text-center"
				/>
				<h2
					class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
				>
					Welcome to the <br />SoulsSpeedruns Wiki
				</h2>
				<br />
			</div>
			<div class="mt-10 flex items-center justify-center gap-x-2">
				<a
					href={discord.data.link}
					target="_blank"
					class={cn(
						'flex items-center gap-2 dark:border-border dark:hover:bg-accent dark:text-orange-300 dark:hover:text-orange-400 text-foreground ',
						buttonVariants({
							variant: 'outline',
						}),
					)}
				>
					<Discord class="h-4 w-4 fill-current" />
					 Discord
				</a>
				<!-- <a
					href="/getting-started"
					class={cn(
						'group flex items-center gap-2',
						buttonVariants({
							variant: 'outline',
						}),
					)}
				>
					Getting started
					<ArrowRightIcon
						className="h-4 w-4 transition-transform group-hover:translate-x-1"
					/>
				</a> -->
				<a
					href="/contribute"
					class={cn(
						'group flex items-center gap-2 dark:border-border dark:hover:bg-accent dark:text-orange-300 dark:hover:text-orange-400 text-foreground',
						buttonVariants({
							variant: 'outline',
						}),
					)}
				>
					How To Contribute
				</a>
			</div>
		</div>
		<section class="grid grid-cols-1 gap-3 sm:grid-cols-2 md:grid-cols-3">
			{
				games.map((game) => (
					<a
						href={`/${game.data.homepage.slug}`}
						rel="prefetch"
						class="group relative aspect-video overflow-hidden rounded-lg"
					>
						<div class="absolute inset-0 bg-black" />
						<Image
							src={game.data.assets.background}
							width={533}
							height={300}
							alt={`Background image of ${game.data.name}`}
							class="h-full w-full scale-100 object-fill transition-transform duration-100 group-hover:scale-105"
						/>
						<div class="absolute inset-0 flex items-center justify-center bg-black/25 p-6 text-center">
							<h2 class="text-xl font-bold text-white">{game.data.name}</h2>
						</div>
					</a>
				))
			}
		</section>
	</main>
</Layout>

<script>
	import { navigate } from 'astro:transitions/client'

	function onMenuContext(e: MouseEvent) {
		navigate('/assets')
		e.preventDefault()
	}

	document.addEventListener('astro:page-load', () => {
		document
			.getElementById('index-logo')
			?.addEventListener('contextmenu', onMenuContext)
	})

	document.addEventListener('astro:before-preparation', () => {
		document
			.getElementById('index-logo')
			?.removeEventListener('contextmenu', onMenuContext)
	})
</script>
